// Background Colors
$body-bg: #f4f7fd;
$header-bg: #e0e5f1;
$footer-bg: #e0e5f1;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue-primary: #e60023;
$blue-primary-dark: #b60000;
$blue-secondary: #e60023;
$blue-primary-light: #6a83be;
$blue-secondary-light: #9db3e8;
$grey-primary: #434531;
$grey-secondary: #3c4557;
$grey-primary-light: #697185;
$grey-secondary-light: #c5c8cf;
$light-primary: #e0e5f1;
$light-secondary: #f4f7fd;
$alert-fail: #f3a723;
$alert-fail-dark: #c5c8cf;
$alert-fail-hover: #697185;
$alert-success: #b7ee40;
$white: #fff;
$black: #000;
