// Background Colors
$body-bg: #f4f7fd;
$header-bg: #e0e5f1;
$footer-bg: #e0e5f1;

// Typography
$font-montserrat: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color-primary: #533A8E;
$color-secondary: #FF6F15;
$color-terciary: #EBCDDB;
$white: #FFFFFF;
$grey: #D0D0D0;
$black: #282828;
